input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

select {
  border: none;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e8e8e8;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.column {
  float: left;
  width: 50%;
  min-width: 150px;
  text-align: left;
}

.date1 {
  text-transform: uppercase;
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 2px;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}

.detailsBox {
  width: 60%;
  margin: 0 auto;
  overflow: auto;
  min-height: 800px;
  position: relative;
  bottom: 0;
}

.detailsTextBox {
  background-color: rgba(250, 250, 250, 0.98);
  width: 75%;
  height: 50%;
  text-align: left;
  padding: 20px;
  position: relative;
  bottom: 0;
}

.errorBox {
  overflow: auto;
}

.errorText {
  vertical-align: middle;
  display: inline-flex;
  letter-spacing: 1px;
  font-weight: bold;
  color: #8c8c8c;
  padding-bottom: 13px;
  margin-left: 8px;
  font-size: 16px;
}

.errorText2 {
  vertical-align: middle;
  display: inline-flex;
  padding-bottom: 13px;
  margin-left: 8px;
  font-size: 15px;
}

.eventBox {
  cursor: pointer;
  text-align: left;
  width: 300px;
  min-height: 480px;
  float: left;
  position: relative;
  margin: 10px;
  overflow: auto;
  transition: all .2s ease-in-out;
}

.eventBox:hover {
  transform: scale(1.04);
}

.eventImage {
  height: 10px;
  width: 100%;
  align-self: 'center';
}

.eventTextBox {
  background-color: white;
  height: 50%;
  width: 100%;
  bottom: 0px;
  overflow: auto;
  position: absolute;
}

.eventTextBox2 {
  background-color: #ffced5;
  height: 50%;
  width: 100%;
  bottom: 0px;
  overflow: auto;
  position: absolute;
}

.eventBoxContainer {
  display: inline-block;
}

.formFieldBox {
  border-bottom: 1px double black;
  margin-bottom: 15px;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
}

.formFieldSelectBox {
  border: 1px double black;
  margin-bottom: 15px;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
}

.formFieldInput {
  border: none;
  width: 60%;
  margin-left: 20px;
}

.formFieldSelectInput {
  resize: none;
  border: none;
  width: 80%;
  height: 100px;
  margin-left: 20px;
}

.formFieldLabel {
  min-width: 100px;
}

.generalButton {
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  font-size: 13px;
  padding: 10px;
  padding-right: 20px;
  color: #878787;
  cursor: pointer;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.generalButton:hover {
  color: #bcbcbc;
  transform:scale(1.04);
}

.header1 {
  border-bottom: 1px solid #e2e2e2;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  background-color: white;
}

.header2 {
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.info1 {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: 14px;
}


.interest_button {
  background: white;
  border: none;
  padding: 1vh 1vw;
  margin-top:4vh;
  transition:0.2s;
  font-size: 20px;
  box-shadow: 0px 0px 1px 0px rgba(54,54,54,1);

}

.interest_button:hover {
  background: rgba(250,250,250,1);
  border: none;
  padding: 1vh 1vw;
  margin-top:4vh;
  box-shadow: 0px 1px 4px 0px rgba(54,54,54,1);
  transform: scale(1.04);
}

.loginBox {
  overflow: auto;
  text-align: center;
  width: 60%;
  padding-bottom: 25px;
  margin: 0 auto;
  position: relative;
}

.paper {
  background-color: white;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(210,210,210,1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(210,210,210,1);
  box-shadow: 0px 3px 8px 0px rgba(210,210,210,1);
}

.paperstyle2 {
  background-color: #c5ffb7;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(210,210,210,1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(210,210,210,1);
  box-shadow: 0px 3px 8px 0px rgba(210,210,210,1);
}

.passwordInput {
  -webkit-text-security: disc;
  -moz-text-security: disc;
  text-security: disc;
}

.searchBar {
  margin-bottom: 20px;
  padding: 20px;
  min-width: 700px;
  background-color: #36373f;
  overflow: hidden;
  vertical-align: middle;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(54,54,54,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(54,54,54,1);
  box-shadow: 0px 0px 4px 0px rgba(54,54,54,1);
}

.searchBarInput {
  width: 65%;
  background-color: transparent;
  border: none;
  float: left;
  color: white;
  padding: 15px;
  height: 10px;
}

.searchBarSection1 {
  min-width: 300px;
  border: none;
  background-color: #1e1f23;
  border-radius: 0px;
  width: 50%;
  white-space: nowrap;
  float: left;
  overflow: auto;
  -webkit-box-shadow: inset 1px 2px 3px 0px rgba(237,237,237,1);
  -moz-box-shadow: inset 1px 2px 3px 0px rgba(237,237,237,1);
  box-shadow: inset 1px 2px 3px 0px rgba(20,20,20,1);
}

.searchBarSection2 {
  line-height: 40px;
  float: right;
}

.searchBarSection3 {
  align-items: left;
  text-align: left;
}

.searchBarButton {
  display: inline-block;
  position: absolute;
}

.searchButton {
  float: right;
  border: none;
  background-color: black;
  color: #878787;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.singleColumn {
  width: 80%;
  display: inline-block;
  text-align: left;
}

.userDetailsBox {
  padding: 10px;
  width: 60%;
  min-height: 300px;
  overflow: auto;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

.userDetailsTextBox {
  padding: 30px;
}
